.swipe__buttons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipe__buttons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3);
}

.swipe-button__replay {
  padding: 1vw;
  color: #f5b748;
}

.swipe-button__close {
  padding: 1vw;
  color: #ec5e6f;
}

.swipe-button__favorite {
  padding: 1vw;
  color: #76e2b1;
}
.swipe-button__star {
  padding: 1vw;
  color: #62b4f9;
}
.swipe-button__flash {
  padding: 1vw;
  color: #915dd1;
}
